# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
# Environment variables
.env
*.env

# Database files
*.db
*.sqlite
cinemapalace.db

# Log files
logs/
*.log